<head>>
  <style>

    h1, h2{
        text-align: center;
    }

    .styledFont {
      color: blue;
      font-size: 20px;
    }

    #styledImage{
        border-width: 20px; 
        border-style: dashed;
        color: red;
    }
  </style>
</head>